		body{
			padding:0px;
			margin:0px auto;
			text-align:center;
		}
		#all{
			background:url(bg1.jpg);
			height:100%;
			position:relative;
			margin:0px auto;
			text-align:center;
		}
		#middle{
			background:url(bg.jpg) no-repeat;
			background-position:right;
			height:615px;
			width:800px;
			margin:0px auto;
			text-align:center;
			padding-top:0.05%;
			padding-top:0px \9;
		}
		#form{
			position:relative;
			margin-top:340px;
			margin-left:310px;
			text-align:left;
			margin-top:340px \9;
			margin-left:310px \9;
		}
		#font{
			font-family:ו;
			font-size:12px;
			color:#ffffff;
		}
		#form1{
			float:left;
		}
		#form2{
			float:left;
			width:160px;
			font-size:0px;
			padding-left:10px;
			padding-top:6px;
			padding-top:10px \9;
		}